<p id="notice"><%= notice %></p>

<p>
  <b>Bin:</b>
  <%= @bottle.bin %>
</p>

<p>
  <b>Wine:</b>
  <%= @bottle.wine %>
</p>

<p>
  <b>Winery:</b>
  <%= @bottle.winery %>
</p>

<p>
  <b>Stylee:</b>
  <%= @bottle.stylee %>
</p>

<p>
  <b>Mainvarietal:</b>
  <%= @bottle.mainvarietal %>
</p>

<p>
  <b>Appellation:</b>
  <%= @bottle.appellation %>
</p>

<p>
  <b>Subregion:</b>
  <%= @bottle.subregion %>
</p>

<p>
  <b>Mainregion:</b>
  <%= @bottle.mainregion %>
</p>

<p>
  <b>Country:</b>
  <%= @bottle.country %>
</p>

<p>
  <b>Vintage:</b>
  <%= @bottle.vintage %>
</p>

<p>
  <b>Price:</b>
  <%= @bottle.price %>
</p>

<p>
  <b>Secondvarietal:</b>
  <%= @bottle.secondvarietal %>
</p>

<p>
  <b>Thirdvarietal:</b>
  <%= @bottle.thirdvarietal %>
</p>

<p>
  <b>Rp:</b>
  <%= @bottle.rp %>
</p>

<p>
  <b>Ws:</b>
  <%= @bottle.ws %>
</p>

<p>
  <b>Cases:</b>
  <%= @bottle.cases %>
</p>

<p>
  <b>Alcohol:</b>
  <%= @bottle.alcohol %>
</p>

<p>
  <b>Profile:</b>
  <%= @bottle.profile %>
</p>


<%= link_to 'Edit', edit_bottle_path(@bottle) %> |
<%= link_to 'Back', bottles_path %>
